.favourites-container{
    max-width: 100vw;
    min-height: 100vh;
    max-height:100vh;
    margin-top: 100px;
    overflow: auto;
    padding-bottom: 8%;
    background-image: url("https://c1.wallpaperflare.com/preview/204/538/570/wedding-rings-marriage-love-jewelry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.fav-title{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
@media only screen and (max-width: 900px){
    .favourites-container{
        margin-top:70px ;
        padding-bottom: 20%;
    }
}