.profile-complete-data-container{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    min-height: 100vh;
    max-height:100vh;
    margin-top:5% ;
    overflow: auto;
    padding-bottom: 8%;
}
.profile-data-container{
    width: 40%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.profile-details-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:5% 10%;
    font-size: 25px;
}